[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Illia Starovoitov
	email = i.starovoytov_fit_10_23_b_d@knute.edu.ua
